<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} Darcy RCE </title>
  <link rel="stylesheet" href="/stylesheets/reset.css" />
  <link rel="stylesheet" href="/stylesheets/mobile.css" />
  <link rel="stylesheet" href="/stylesheets/desktop.css" />
  <link rel="stylesheet" href="/stylesheets/pygments.css" />
</head>
<body>
 
  <section id="main">
    <article class="container">

 
    <header>
      <nav class="main">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
      <h1 class="hero"> Darcy RCE</h1>
    </header>
    <br>
 
    {{ content }}
 
    <footer>
    </footer>
  </article>
 
  </section>
</body>
</html>
